table {
	width: 50%;
}

@media print {

	body, #iTrustPage {
		margin: 0;
		padding: 0;
	}

	#iTrustMenu, iTrustFooter {
		display: none;
	}
	
	tr { 
		page-break-inside: avoid;
	}
	
	tr, td, th, table {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	thead {
		display: table-row-group; 
	}
	
	a {
		display: none;
	}
}
